<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>代码生成</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="webjars/vue/2.5.13/vue.min.js"></script>
</head>
<body>
<div class="container-fluid" id="container">
    <H1>代码生成</H1>
 <div class="row">
     <div class="col-md-3">
         <div class="panel panel-default">
             <div class="panel-heading">
                 数据库连接
                 <button class="btn btn-xs pull-right btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
             </div>
             <div class="list-group">
                 <a v-for="c in connections" class="list-group-item">{{ c.name }}</a>
             </div>
         </div>
     </div>
     <div class="col-md-3">
         <div class="panel panel-default">
             <div class="panel-heading">数据库</div>
             <div class="list-group">
                 <a v-for="c in databases" class="list-group-item">{{ c.name }}</a>
             </div>
         </div>
     </div>
     <div class="col-md-3">
         <div class="panel panel-default">
             <div class="panel-heading">表</div>
             <div class="list-group">
                 <a v-for="c in tables" class="list-group-item">{{ c.name }}</a>
             </div>
         </div>
     </div>
     <div class="col-md-3">
         <div class="panel panel-default">
             <div class="panel-heading">模板</div>
             <div class="list-group">
                 <a v-for="c in templates" class="list-group-item">{{ c.name }}</a>
             </div>
         </div>
     </div>


 </div>
</div>
<script src="js/index.js"></script>
</body>
</html>